<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h3>Full Stack Web Development</h3>
    <ul>
      <li>First Learn HTML</li>
      <li>Second Learn CSS</li>
      <li>Third CSS Framework</li>
      <li>Fourth Learn JavaScript</li>
      <li>Fifth Learn React</li>
      <li>Sixth Learn Node.js</li>
      <li>Seventh Learn Express.js</li>
      <li>Eight Learn MongoDb and Mongoose</li>
    </ul>
  </body>
</html>
