<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1>Home Page</h1>
    <ul>
      <li>Create the server using express.</li>
      <li>Setup MVC arcticture.</li>
      <li>Use MVC .</li>
    </ul>
  </body>
</html>
