<h1>Sign-up Page</h1>
<form action="" method="post">
  <input type="text" name="name" required placeholder="Enter your Name" />
  <input type="email" name="email" required placeholder="Enter your Email" />
  <input
    type="password"
    name="password"
    required
    placeholder="Enter Password"
  />
  <input
    type="password"
    name="confirm_password"
    required
    placeholder="Enter Confirm Password"
  />
  <input type="submit" value="Sign-Up" />
</form>
